:root {
    --body-color: #FFF8E8;
    --base-color: #F7EED3;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body {
    background-color: var(--body-color);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.displayNone {
    display: none !important;
}
/* Handling Scrollbar */
/* width */
::-webkit-scrollbar {
    width: 4px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 200px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* ***************************************** */

.container {
    background-color: var(--base-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
    min-height: 60vh;
    width: min(500px, 100vw);
    max-height: 100vh;
    box-shadow: 0px 12px 48px 0px rgba(0, 0, 0, 0.1);
}
.container .header {
    display: flex;
    align-items: center;
    gap: 10px;
}
.container .input-field {
    width: 100%;
    position: relative;
}
.container .input-field .button {
    position: absolute;
    width: fit-content;
    height: 100%;
    padding: 15px 20px;
    border-radius: 0 50% 50% 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
}
.container .input-field .button:hover {
    cursor: pointer;
    background-position: right center;
    text-decoration: none;
}
.container .input-field .add {
    right: 0;
    top: 0;
    background-image: linear-gradient(to right, #134E5E 0%, #71B280  51%, #134E5E  100%);
    transition: 0.5s;
    background-size: 200% auto;
    box-shadow: 0 0 20px #eee;
}
 
.container .input-field input {
    width: 100%;
    padding: .7em;
    border-radius: 25px;
    border: 1px solid gray;
    text-indent: 10px;
    background-color: #FFEAC5;
    color: grey;
    font-size: 1.1em;
    outline: none;
    padding-right: 70px;
}
.container .input-field input:hover {
    background-color: transparent;
    box-shadow: 0px 12px 48px 0px rgba(0, 0, 0, 0.1);
    border-color: transparent;
}

/* ***************************************** */

.container .todo-items {
    width: 100%;
    display: grid;
    gap: 10px;
    overflow: auto;
}
.container .todo-items .todo-item {
    padding: 5px;
    font-size: 1.2em;
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    align-items: center;
    gap: 15px;
}

/* .container */
.container .todo-items .todo-item div {
    word-break: break-all;
}
.container .todo-items .todo-item div.completed {
    text-decoration: line-through;
    color: rgb(146, 146, 146);
}
.container .todo-items .todo-item div:focus {
    text-decoration: none;
    outline: none;
    border-bottom: 1px solid gray;
    color: #134E5E;
}

button.editConfirm {
    grid-column: span 2;
    border-radius: 5px;
    background-image: linear-gradient(to right, #000000 0%, #0f9b0f  51%, #000000  100%);
    background-size: 200% auto;
    transition: 0.5s;
    box-shadow: 0 0 20px #eee;
    color: white;
    text-transform: uppercase;
    padding:7px;
    border: none;
    font-weight: bold;
    font-size: 12px;
    letter-spacing: 1px;
}
button.editConfirm:hover {
    background-position: right center;
    text-decoration: none;
    cursor: pointer;
}

.icon {
    width: 24px;
    height: 24px;
    
    background-size: cover;
}
.icon.check {
    background-image: url(images/radio.png);
}
.icon.check.completed {
    background-image: url(images/check.png);
}
.icon.edit {
    background-image: url(images/edit.png);
}
.icon.delete {
    background-image: url(images/close.png);
}
.icon:hover {
    cursor: pointer;
}
.icon.todo-icon {
    background-image: url(images/pencil.png);
}

/* ***************************************** */

@media (min-width: 500px) {
    .container {
        border-radius: 20px;
    }
}