* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
/* ***************************************** */
.add-card-container {
    background-color: #eeee;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 30vw;
    margin: 10px auto;
    position: relative;
    margin-top: 15px;
    padding: 15px;
    border-radius: 10px;
}
.add-card-container input {
    height: 50px;
    text-indent: 10px;
}
.add-card-container h3 {
    margin: auto;
    width: fit-content;
}
.add-card-container input[type="button"] {
    text-indent: 0;
}
.add-card-container input[type="button"]:hover {
    cursor: pointer;
    
}
.add-card-container input[type="button"]:focus {
    background-color: #ddd;
}
/* ***************************************** */
.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    background-color: #eee;
    padding: 10px;
    min-height: 50vh;
    margin: 10px auto;
    width: 50vw;
}

